* {
    margin: 0%;
    padding: 0%;
    font-family: arial;
    font-weight: lighter;
}

.container {
    display: flex;
    justify-content: center;
}
.picture1 {
   margin: 10px;
}
.container1 {
    display: flex;

}
.textitem {
    margin-left: 490px;
    margin-top: 40px;
}
.button {
    color: white;
    border: 2px solid white;
    background-color: rgb(68, 214, 85);
    padding: 8px 35px 8px 35px;
}
.container2 {
    display: flex;
    justify-content: space-around;
    background-color: rgb(243, 243, 243);
    height: 120px;
}
.item {
    margin-top: 37px;
    font-size: 35px;
}
.container3 {
    display: flex;
    justify-content: center;
    /* justify-content: space-around; */
    margin-bottom: 0;
}
.house {
padding: 5px;
}
.container4 {
    margin-top: 0;
    opacity: 0.8;
    background-image: url(./meeting\ 2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.item1 { 
    height: 250px;
    width: 250px;
    border: 2px solid rgb(161, 161, 161);
    margin: 10px;
}
.container5 {
    box-sizing: border-box;
    display: flex;
    height: 300px;
    display: flex;
    justify-content: space-around;
}